// FONTS

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$color-primary-red: #b52e33;
$color-primary-black: #232321;
$color-primary-white: white;
$color-secondary-yellow: #e7ac15;
$color-secondary-green: #207344;
$color-secondary-red: #d9060e;
$color-gray-6: #e5e5e5;
$color-gray-5: #656565;
$color-gray-4: #939598;
$color-gray-3: #ababab;
$color-gray-2: #dbdbdb;
$color-gray-1: #f4f4f4;

$font-primary: "Inter", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-size-primary: 16px;
